In [27]:
import pandas as pd

df = pd.read_csv("../data/avocado.csv")

# df.head(5) 
 
# df["region"][:10]

chicago = df[df["region"] ==  "Chicago"]

chicago = chicago.set_index("Date").sort_values(by="Date")


chicago.head(15)

,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
Date,,,,,,,,,,,,
2015-01-04,1.11,783068.03,30270.26,550752.19,124506.10,77539.48,72888.46,4651.02,0.00,conventional,2015,Chicago
2015-01-04,1.49,17723.17,1189.35,15628.27,0.00,905.55,905.55,0.00,0.00,organic,2015,Chicago
2015-01-11,1.15,802874.94,31239.94,558487.79,133848.57,79298.64,74716.43,4539.25,42.96,conventional,2015,Chicago
2015-01-11,1.79,12915.74,1426.75,10900.10,0.00,588.89,588.89,0.00,0.00,organic,2015,Chicago
2015-01-18,1.14,797741.43,24917.77,533717.99,140239.95,98865.72,95516.44,3311.71,37.57,conventional,2015,Chicago
2015-01-18,1.81,12499.87,1154.81,10830.61,0.00,514.45,514.45,0.00,0.00,organic,2015,Chicago
2015-01-25,1.22,745439.17,26117.56,488218.44,145882.24,85220.93,75867.61,9265.81,87.51,conventional,2015,Chicago
2015-01-25,1.83,10951.51,711.63,9515.44,0.00,724.44,724.44,0.00,0.00,organic,2015,Chicago
2015-02-01,0.91,1133491.66,50783.91,824745.44,164884.41,93077.90,89516.93,3448.62,112.35,conventional,2015,Chicago
2015-02-01,1.52,14391.05,1363.35,11835.47,0.00,1192.23,1192.23,0.00,0.00,organic,2015,Chicago
2015-02-08,1.13,729325.61,28216.83,499138.28,119634.41,82336.09,78980.96,3273.20,81.93,conventional,2015,Chicago
2015-02-08,1.78,9910.84,1224.22,6971.06,0.00,1715.56,1715.56,0.00,0.00,organic,2015,Chicago
2015-02-15,1.17,726401.24,29711.82,488591.60,110446.60,97651.22,92518.95,5112.69,19.58,conventional,2015,Chicago
2015-02-15,1.81,10575.65,948.53,8233.79,0.00,1393.33,1393.33,0.00,0.00,organic,2015,Chicago
2015-02-22,1.83,10235.09,511.72,8648.92,0.00,1074.45,1074.45,0.00,0.00,organic,2015,Chicago